#Core
Flask==2.2.2
Faker==14.2.1
marshmallow==3.18.0
flask-marshmallow==0.14.0

# [code_style]-[BEGIN]
# Pre-commit hook
pre-commit==2.20.0
# Upgrade syntax.
pyupgrade==2.38.1
# Formatter. Apply codestyle.
black==22.8.0
# Check codestyle
flake8==5.0.4
# [code_style]-[END]